@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
}

* {
    font-family: "Clash Display", sans-serif;       
    margin: 0;
}

.side-nav {
    padding: 16px 0px;
    width: 20%;
    position: fixed;
    height: 100%;
    background-color: rgb(7, 0, 47);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.side-nav h2 {
    font-size: 1.5em;
    margin-bottom: 24px;
}

.side-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;      
}
.side-nav li a {
    font-size: 1em;
    color: whitesmoke;
    display: block;
    text-decoration: none;
    border-radius: 8px;
    margin: 4px 8px;
    padding: 12px;
    transition: all 0.2s ease;    
}

.side-nav li a.active { background-color: rgba(27, 28, 91, 0.95); }
.side-nav li a:hover:not(.active) { background-color: rgb(22, 23, 86); }

.side-nav .bi { margin-right: 8px; }

.bi-leaf-fill {
    color: green;
    margin: 0 16px;
}

.main-container {
    margin-left: 20%;
    padding: 16px;
    background-color: rgba(231, 236, 237, 0.719);
    color: rgb(7, 0, 47);
}

header h3{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 4px;
}

header p { color: rgb(100, 104, 129); }

header {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .right-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

header .right-header .prof-pict {
    color: white;
    background-color:rgb(7, 0, 47);
    border-radius: 50%;
    padding: 12px;
}

.finance-container {
    width: auto;
    background-color: whitesmoke;
    box-shadow:     
        0 2px 4px -1px rgba(0, 0, 0, 0.2),  
        0 4px 8px -2px rgba(0, 0, 0, 0.15);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.finance-container .wallet {
    font-size: 1.3em;
}

.finance-wallet-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.finance-info {
    margin-top: 12px;
    padding: 16px;
    border-radius: 8px;
    width: 33.3%;
    display: flex;
    gap: 15px;
    align-items: center;
    height: 40px;
}

.finance-info.balance {
    background-color: rgba(193, 220, 255, 0.5);
}

.finance-info .bi-wallet-fill {
    background-color: rgba(193, 220, 255, 0.85);
    color: rgb(98, 98, 255);
    padding: 12px;
    font-size: 1.5em;
    border-radius: 50%;
}

.finance-info.income {
    background-color: rgba(105, 255, 105, 0.4);
    color: rgb(12, 143, 0);
}

.finance-info .bi-arrow-up-right-circle-fill {
    font-size: 3em;
    border-radius: 50%;
    color: rgb(12, 143, 0);
}

.finance-info.expense {
    background-color: rgba(255, 121, 121, 0.4);
    color: red;
}

.finance-info .bi-arrow-down-circle-fill {
    font-size: 3em;
    border-radius: 50%;
    color: red;
}

.finance-info .info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.finance-info .info .type-finance {
    font-size: 0.8em;
}

.finance-info .info .money {
    font-size: 1.2em;
    font-weight: 700;
}

.add-and-statistics-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.transaction-container {
    box-shadow:     
        0 2px 4px -1px rgba(0, 0, 0, 0.2),  
        0 4px 8px -2px rgba(0, 0, 0, 0.15);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    width: 30%;
    background-color: whitesmoke;
}

.transaction-container form {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.transaction-container form label { font-size: 0.8em; }

.add-transaction-form-label {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.add-transaction-form-label input[type="text"],
.add-transaction-form-label select {
    width: 80%;
    margin: 8px 0;
    height: 30px;
    outline: none;
    border-radius: 4px;
    border: 1px solid gray;
    padding-left: 8px;
}

.add-transaction-form-label input[type="text"]:focus {
    outline: 2px solid blue;
    outline-offset: -3px;
}

.add-transaction-form-label select {
    cursor: pointer;
}

.onclick-btns {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.onclick-btns button[type="button"]{
    outline: none;
    width: 50%;
}

.onclick-btns .income-btn,
.onclick-btns .expense-btn {
    color: rgb(7, 0, 47);
    background-color: rgba(163, 163, 163, 0.283);  
    height: 30px;
    border: none;
    border-radius: 8px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.onclick-btns .income-btn.fill {
    background-color: rgb(47, 185, 47);
    color: white;
} 

.onclick-btns .expense-btn.fill {
    background-color: rgb(255, 42, 42);
    color: white;
} 

.add-transaction-form-date {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.add-transaction-form-date input[type="date"] {
    margin: 8px 0 4px 0;
    padding: 4px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.transaction-container form button[type="submit"] {
    width: 100%;
    height: 30px;
    background-color: rgb(7, 0, 47);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.transaction-container form button:hover { transform: scale(1.05); }

.graph-container.charts {
    box-shadow:     
        0 2px 4px -1px rgba(0, 0, 0, 0.2),  
        0 4px 8px -2px rgba(0, 0, 0, 0.15);
    background-color: whitesmoke;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.chart { 
    width: 50%; 
    margin-bottom: 8px;
} 

.recharts-wrapper,
.recharts-surface {
    overflow: visible !important;
}

.recharts-wrapper *:focus {
    outline: none !important;
}


.search-list-container {
    box-shadow:     
        0 2px 4px -1px rgba(0, 0, 0, 0.2),  
        0 4px 8px -2px rgba(0, 0, 0, 0.15);
    background-color: whitesmoke;    
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.input-and-select-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search-container .input-container {
    position: relative;
    width: 50%;
    margin-right: 64px;
}

.search-container .input-container .bi {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.search-container .input-container input[type="text"] {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 40px;
    border: 1px solid gray;
    border-radius: 8px;
}

.search-container input[type="text"]:focus {
    outline: 2px solid blue;
    outline-offset: -3px;
}

.search-container .select-container {
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.search-container .select-container select {
    width: 70%;
    padding: 12px 4px;
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
    background-color: rgb(7, 0, 47);
    color: white;
    font-weight: bold;
}

.history-transaction-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.history-transaction-container .history-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history-transaction-container .history-left-container h2 { margin-bottom: 4px; }
.history-transaction-container .history-left-container p { color: rgb(154, 154, 154); }

.history-transaction-container .history-right-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.history-transaction-container .history-right-container .history-sort-btn {
    width: 80px;    
    padding: 8px 12px;
    text-align: center;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 12px;
    font-size: 1em;
    cursor: pointer;
    color: rgb(7, 0, 47);
    background-color: white;    
    transition: all 0.2s ease;
}

.history-transaction-container .history-right-container .history-sort-btn:hover { 
    transform: scale(1.05); 

}

.history-transaction-container .history-right-container .history-sort-btn.fill {
    background-color: rgb(7, 0, 47);
    color: white;
}

.transaction-scroll {
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

.transaction-scroll .transaction-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: rgba(231, 236, 237, 0.719);
    color: rgb(154, 154, 154);
}

.transaction-scroll .transaction-header .transaction-name { margin-left: 8px; }
.transaction-scroll .transaction-card .transaction-category { margin-left: 12px; }
.transaction-scroll .transaction-card .transaction-date { margin-left: 2px; }
.transaction-scroll .transaction-header .transaction-amount { margin-left: 20px; }

.transaction-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(231, 236, 237, 0.719);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.transaction-card:hover { transform: translateY(-2px); }
.transaction-card .transaction-name {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 0;
}


.name-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.transaction-category {
    width: 15%;
    color: rgb(154, 154, 154);
}



.transaction-type.income-type {
    padding: 4px 0 4px 4px;
    border: 1px solid white;    
    background-color: rgba(47, 185, 47, 0.4);
    transform: translateX(-8px);
    color: rgb(47, 185, 47);
    border-radius: 8px;
}

.transaction-type.expense-type {
    padding: 4px 0 4px 4px;
    border: 1px solid white;    
    background-color: rgba(255, 42, 42, 0.4);
    transform: translateX(-8px);
    color: rgb(255, 42, 42);
    border-radius: 8px;
}                    

.transaction-name { width: 20%; }
.transaction-type { 
    width: 8%;
    text-align: center;
}

.transaction-date {
    width: 30%;
    margin-left: 10px;
}

.transaction-amount { width: 15%; }
.remove-btn { width: 5%; }

.transaction-card .transaction-name .bi {
    display: inline-flex;
    align-items: center;
    justify-content: center;    
    height: 16px;
    border: 0.8px solid rgb(7, 0, 47);
    border-radius: 8px;
    color: rgb(7, 0, 47);
    background-color: rgba(209, 201, 255, 0.555);;
    padding: 8px;
    margin: 0 4px;
} 

.transaction-card .transaction-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.transaction-card .transaction-amount.expense-amount { color: rgb(255, 42, 42); }
.transaction-card .transaction-amount.income-amount { color: rgb(47, 185, 47); }

.transaction-card .remove-btn {
    border: none;
    border-radius: 8px;
    padding: 4px;
    margin-left: 40px;
    background-color: rgb(7, 0, 47);
    color: whitesmoke;
    font-size: 1em;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.transaction-card .remove-btn:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

.modal-pop-up-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-pop-up {
    position: absolute;
    right: 0;
    background-color: rgba(231, 236, 237, 0.719);
    color: rgb(7, 0, 47);
    box-shadow: -1px 0 5px rgba(245, 245, 245, 0.208);  
    font-weight: bold;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
    height: 100%;
}

.view-transaction {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.header-modal-pop-up { margin-top: 24px; }

.view-transaction p {
    margin-bottom: 4px;
    font-size: 0.8em;    
    color: rgb(7, 0, 47);
}

.view-transaction input[type="text"],
.view-transaction select {
    width: 40%;
    height: 30px;
    outline: none;
    border-radius: 4px;
    border: 1px solid gray;
    padding-left: 8px;
}

.view-transaction input[type="text"]:focus {
    outline: 2px solid blue;
    outline-offset: -3px;
}

.view-transaction .onclick-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 0;
}

.view-transaction input[type="date"] {
    margin-bottom: 4px;
    padding: 4px;
    height: 30px;
    width: 40%;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.modal-close-btn {
    position: absolute;
    top: 40px;
    right: 20px;  
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: rgb(7, 0, 47);
    font-size: 1.5em;
}

.modal-close-btn:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

.modal-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 8px;
}

.modal-edit-btn {
    border: none;
    border-radius: 12px;
    padding: 8px;
    width: 15%;
    background-color: rgb(7, 0, 47);
    color: whitesmoke;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.modal-del-btn {
    border: none;
    border-radius: 12px;
    padding: 8px;
    width: 15%;
    background-color: rgb(7, 0, 47);
    color: whitesmoke;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;        
    transition: transform 0.2s ease;    
}

.modal-edit-btn:hover,
.modal-del-btn:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.history-list-container {
    box-shadow:     
        0 2px 4px -1px rgba(0, 0, 0, 0.2),  
        0 4px 8px -2px rgba(0, 0, 0, 0.15);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: whitesmoke;
}
.history-list-container h2 {
  margin-bottom: 16px;
}

.history-list-container .transaction-scroll {
    display: flex;
    flex-direction: column;  
    position: relative;
    z-index: 1;
    gap: 12px;
    margin-top: 6px;
    padding-top: 6px;
}

/* .history-list-container .transaction-scroll::after {    
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 32px; 
    width: 2px;
    background-color: red;    
} */

.history-list-container .history-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    width: 100%;
    font-size: 1.1em;
    transition: transform 0.2s ease;  
    position: relative;
}

.history-list-container .history-card::after {
    content: "";
    position: absolute;
    left: 27px;
    top: 60px;
    bottom: 0;
    width: 1px;
    filter: blur(1px);
    background-color: rgba(199, 202, 203, 0.719);

}

.history-list-container .history-card:last-child::after {
    display: none;
}

.history-list-container .history-card:hover {
    transform: translateY(-2px);
}

.history-list-container .history-card .history-desc {
    border-bottom: 1px solid rgba(231, 236, 237, 0.719);
    margin: 0 12px;
    flex: 1;             
    min-width: 0;        
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
} 

.history-list-container .history-card .history-upper-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.history-list-container .history-card .history-desc.added-card    { background-color: rgb(216, 255, 208); }
.history-list-container .history-card .history-desc.deleted-card  { background-color: rgb(255, 231, 231); }
.history-list-container .history-card .history-desc.edited-card   { background-color: rgb(207, 222, 255); }

.history-list-container .history-card .history-desc .history-upper-desc .history-left-desc {
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.history-list-container .history-card .history-desc .history-upper-desc .history-right-desc {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: rgb(100, 100, 100);    
}

.history-list-container .history-card .history-desc .history-upper-desc .history-left-desc .first,
.history-list-container .history-card .history-desc .history-upper-desc .history-left-desc .transaction-name-desc { font-weight: bold;}
  
.history-list-container .history-card .bi.mode-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;    
    border: none;
    border-radius: 50%;
    padding: 8px;
    width: 32px;
    height: 32px;
    margin: 0 4px;
    font-size: 1em;
    position: relative;
    z-index: 3;
}

/* .history-list-container .history-card .bi.mode-icon::after {
    content: "";
    position: absolute;

    left: 50%;
    top: 100%;
    transform: translateX(-50%);

    width: 2px;
    height: 100%;

    background-color: red;
} */

.history-list-container .history-card .bi.bi-plus-lg {
    background-color: rgb(216, 255, 208);  
    color: rgb(18, 108, 0);  
}

.history-list-container .history-card .bi.bi-trash-fill {
    background-color: rgb(255, 231, 231);  
    color: rgb(108, 0, 0);  
}

.history-list-container .history-card .bi.bi-pencil-fill {
    background-color: rgb(207, 222, 255);  
    color: rgb(7, 135, 255);  
}

.history-list-container .history-card .history-desc .history-lower-desc.not-edited {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.history-list-container .history-card .history-desc .history-lower-desc.not-edited span {
    border: none;
    padding: 2px 8px;
    border-radius: 8px;
}

.added-transaction,
.income-transaction {
    background-color: rgb(155, 255, 135);
    color: rgb(18, 108, 0);
}

.deleted-transaction,
.expense-transaction {
    background-color: rgb(255, 180, 180);
    color: rgb(108, 0, 0);  
}

.name-transaction {
    background-color: rgb(167, 251, 255);
    color: rgb(22, 130, 254); 
}

.amount-transaction {
    background-color: rgb(255, 251, 199);
    color: rgb(150, 161, 0);  

}

.category-transaction,
.date-transaction {
    background-color: rgb(211, 225, 255);  
    color: rgb(7, 135, 255);  
}

.diff {
    background-color: rgb(237, 216, 255);  
    color: rgb(104, 59, 255);      
}

.history-list-container .history-card .history-desc .history-lower-desc.edited {
    background-color: whitesmoke;    
    border-radius: 12px;
    margin: 4px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.history-list-container .history-card .history-desc .history-lower-desc.edited .bi.bi-arrow-right {
    position: absolute;
    top: 50%;
    left: calc(50% - 10px);
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;    
    background-color: whitesmoke;
}

.history-list-container .history-card .history-desc .history-lower-desc.edited div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.history-list-container .history-card .history-desc .history-lower-desc.edited .after-edited-transaction {
    position: relative;
}

.history-list-container .history-card .history-desc .history-lower-desc.edited .before-edited-transaction,
.history-list-container .history-card .history-desc .history-lower-desc.edited .after-edited-transaction {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.history-list-container .history-card .history-desc .history-lower-desc.edited .after-edited-transaction::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgb(100, 100, 100);
}

.history-list-container .history-card .history-desc .history-lower-desc.edited .before-edited-transaction .header-transaction,
.history-list-container .history-card .history-desc .history-lower-desc.edited .after-edited-transaction .header-transaction {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 4px 2px;
    border: none;
    border-radius: 8px;
}

.history-list-container .history-card .history-desc .history-lower-desc.edited .before-edited-transaction .header-transaction.before {
    background-color: rgb(225, 225, 225);        
    color: rgb(100, 100, 100);    
}

.history-list-container .history-card .history-desc .history-lower-desc.edited .after-edited-transaction .header-transaction.after {
    background-color: rgb(211, 225, 255);  
    color: rgb(7, 135, 255);  
}

.key-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 32px;
    margin-top: 4px;
    color: rgb(100, 100, 100); 
}

.key-value .key {
    display: flex;
    align-items: center;
    height: 32px;
    width: 50%;    
}

.key-value .value {
    border: none;
    padding: 2px 8px;
    border-radius: 8px;    
    width: auto;
}

.key-value .key .bi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    margin: 0px 4px;
}

@media screen and (max-width: 768px) {
    .side-nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 34px;
        z-index: 999;
        position: sticky;
        top: 0;
    }

    .side-nav h2 {
        height: 32px;
    }

    .side-nav ul {
        height: 32px;        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .side-nav ul li a{
        padding: 12px;
    }
    
    .main-container {
        margin-left: 0;
        font-size: 0.8em;
    }

    .add-transaction-form-label button{
        font-size: 0.95em;
    }
}   

@media screen and (max-width: 480px) {

    * {
        overflow-y: auto;
        scrollbar-width: none;
    }       

    .side-nav {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        position: relative;
        height: 200px;
    }

    .side-nav h2 {
        height: 32px;   
        margin: 0 0 16px 0;
    }
    .side-nav ul {
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    .side-nav ul li {width: 100%;}

    .side-nav ul li a {
        display: inline-block;
        width: 90%;
    } 

    .main-container {
        margin-left: 0;
        font-size: 0.7em;
    }

    .finance-container {
        width: auto;
    }

    .finance-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: 80px;
        padding: 8px;
        gap: 4px;
    }

    .finance-info .bi-wallet-fill {
        padding: 10px;
        font-size: 1.5em;
        border-radius: 50%;
        margin-bottom: 0;
    }

    .finance-info .bi-arrow-up-right-circle-fill,
    .finance-info .bi-arrow-down-circle-fill {
        font-size: 3em;
    }

    .finance-info .info .type-finance,
    .finance-info .info .money {
        font-size: 1.2em;
    }

    .add-and-statistics-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .transaction-container {
        width: auto;
        margin-bottom: 0;       
    }

    .transaction-container form label { font-size: 1.2em; }

    .add-transaction-form-label {
        display: flex;
        flex-direction: column;
        width: 48%;
    }

    .onclick-btns button[type="button"]{
        outline: none;
        width: 40%;
    }    

    .onclick-btns button[type="button"]:hover,
    .transaction-container form button[type="submit"]:hover {
        transform: scale(1) translateY(1px);
    }

    .add-transaction-form-date {
        width: 100%;
    }

    .add-transaction-form-date input[type="date"] {
        width: 88%;
    }

    .transaction-container form button[type="submit"] {
        width: 90%;
    }    
    
    .graph-container.charts {
        width: auto;
        display: flex;
        flex-direction: column;
    }    
    .chart {
        width: 100%;
        height: 250px;        
    }

    .recharts-legend-wrapper {
        height: 40px;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;
    }

    .input-and-select-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;

    }

    .search-container .input-container {
        width: 60%;
    }

    .search-container .input-container input[type="text"] {
        height: 30px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        margin: 0;
    }

    .search-container input[type="text"]:focus {
        outline: 2px solid blue;
        outline-offset: -3px;
    }
    
    .search-container .input-container .bi {
        position: absolute;
        left: 12px;
        top: 50%;
    }    

    .search-container .select-container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 2px;
        width: 40%;
        margin: 0;
    }

    .search-container .select-container select {
        width: 50%;
        box-sizing: border-box;
        margin: 0;
        font-size: 0.8em;    
        padding: 8px 4px;       
    }

    .transaction-category, 
    .transaction-card .remove-btn {
        display: none;
    }

    .transaction-card {
        font-size: 1em;
    }

    .transaction-card .transaction-name .bi {
        display: inline-flex;
        height: 12px;
        border: 0.8px solid rgb(7, 0, 47);
        border-radius: 6px;
        color: rgb(7, 0, 47);
        background-color: rgba(209, 201, 255, 0.555);;
        padding: 4px;
        margin: 0 4px;
    } 

    .transaction-name {
        width: 35%;
    }

    .transaction-type {
        width: 15%;
    }

    .transaction-type.income-type {
        padding: 4px 0 4px 4px;
        border: 1px solid white;    
        background-color: rgba(47, 185, 47, 0.4);
        transform: translateX(0);
        color: rgb(47, 185, 47);
        border-radius: 8px;
    }

    .transaction-type.expense-type {
        padding: 4px 0 4px 4px;
        border: 1px solid white;    
        background-color: rgba(255, 42, 42, 0.4);
        transform: translateX(0);
        color: rgb(255, 42, 42);
        border-radius: 8px;
    }       

    .transaction-date {
        width: 30%;
    }

    .transaction-amount {
        width: 25%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-right: 4px;
    }

    .modal-pop-up {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        height: 60%;
    }

    .view-transaction {
        margin-top: 4px;
    }

    .header-modal-pop-up { margin-top: 16px; }

    .view-transaction p {
        margin-bottom: 4px;
        font-size: 0.8em;    
        color: rgb(7, 0, 47);
    }

    .view-transaction input[type="text"],
    .view-transaction select {
        width: 40%;
        height: 30px;
        outline: none;
        border-radius: 4px;
        border: 1px solid gray;
        padding-left: 8px;
    }

    .view-transaction input[type="text"]:focus {
        outline: 2px solid blue;
        outline-offset: -3px;
    }

    .view-transaction .onclick-btns {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: calc(50% + 8px);
        margin-top: 0;
    }

    .view-transaction input[type="date"] {
        margin-bottom: 4px;
        padding: 2px 4px;
        height: 30px;
        width: 40%;
        border: 1px solid gray;
        border-radius: 8px;
        cursor: pointer;
        outline: none;
    }

    .modal-close-btn {
        top: 32px;
    }

    .modal-close-btn:hover {
        transform: scale(1.05);
        opacity: 0.7;
    }

    .modal-edit-btn, 
    .modal-del-btn {
        font-size: 0.8em;
    }

    .history-transaction-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .history-transaction-container .history-right-container {
        gap: 8px;
    }

    .history-transaction-container .history-right-container .history-sort-btn {
        width: auto; 
    }    

    .history-list-container .history-card .bi.mode-icon {
        padding: 0px;
        width: 32px;
        height: 32px;
        margin: 0 2px;
    }

    .history-list-container .history-card::after {
        left: 18px;
        top: 40px;
    }

    .history-list-container .history-card .history-desc .history-lower-desc.edited {
        display: flex;
        flex-direction: column;
        position: relative;
    }    
    
    .history-list-container .history-card .history-desc .history-lower-desc.edited .bi.bi-arrow-right {
        display: none;
    }
    
    .history-list-container .history-card .history-desc .history-lower-desc.edited div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .history-list-container .history-card .history-desc .history-lower-desc.edited .after-edited-transaction::before {
        left: 0;
        top: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
    }
    
    .history-list-container .history-card .history-desc .history-lower-desc.edited .after-edited-transaction .header-transaction {
        margin-top: 12px;
    }
    
    .key-value {
        width: 100%;
    }
    
}